@import url("https://fonts.googleapis.com/css?family=Playfair+Display");

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1a1a1a;
  background-position: center;
  background-size: cover;
  max-height: 165px;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
}
.header.shrink {
  height: 80px; /* Adjust height when shrunk */
  /* transition: height 0.3s ease-in-out;  */
}
.header.shrink .header__logo-image {
  width: 100px; /* Adjust logo size when shrunk */
  transition: width 0.5s ease, height 0.5s ease; /* Add transition effect */
}
.header.shrink .header__nav {
  font-size: 20px; /* Adjust font size when shrunk */
  transition: font-size 0.5s ease; /* Add transition effect */
}
.header.shrink .header__links:hover {
  box-shadow: inset 200px 0 0 0 white;
}
.header.shrink .header__links {
  transition: color 0.5s ease, box-shadow 0.5s ease; /* Smooth transition for color and box-shadow when shrinking */
}

.header__logo {
  position: fixed;
  left: 0px;
  color: azure;
}
.header__logo-image {
  width: 200px;
}
.header__logo-image:hover {
  cursor: pointer;
  opacity: 0.6;
}
.header__nav {
  display: flex;
  font-family: "Playfair-Display", sans-serif;
  font-weight: 300;
  z-index: 1;
  font-size: 40px;
}

.header__social {
  position: fixed;
  right: 0px;
  padding: 14px 16px;
}

.header__links {
  color: white;
  text-decoration: none;
  padding: 14px 55px;

  transition: color 0.5s ease, box-shadow 0.5s ease;
}

.header__links:hover {
  color: black;
}

.header__social {
  position: fixed;
  right: 0px;
  padding: 14px 16px;
  display: flex;
  flex-direction: column;
}

.linkedin__logo,
.github__logo,
.instagram__logo {
  height: 30px;
  width: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.linkedin__logo:hover,
.github__logo:hover,
.instagram__logo:hover,
.resume__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.header__links:hover {
  box-shadow: inset 300px 0 0 0 white;
  color: black;
}
.resume__button {
  width: 80px;
  height: 50px;
  position: relative;
  right: 22px;
  background-color: #ffeb99;
  border-radius: 10px;
  font-family: "Playfair-Display", sans-serif;
}
/* Mobile Styles */
@media screen and (max-width: 768px) {
  .header {
    max-height: initial;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }

  .header__logo {
    position: relative;
    bottom: -18px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .header__logo-image {
    width: 250px; /* Adjust logo size for mobile */
  }

  .header__nav {
    font-size: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
  }

  .header__links {
    padding: 10px 25px; /* Adjust padding for mobile */
  }

  .header__social {
    position: relative;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: center;
    bottom: 480px;
  }

  .resume__button {
    padding: 0px 0px; /* Adjust padding for mobile */
    margin-right: 0; /* Reset margin */
    width: 70px;
  }
  .resume__button-container {
    padding-left: 80px;
  }
}

/* Other styles remain unchanged */
