@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Urbanist");

.introduction {
  background-color: coral;
  background-position: center;
  background-size: cover;
  margin-top: 125px;

  max-height: 700px;
  height: 100vh;
}
.introduction__image {
  max-height: 700px;
  max-width: 700px;
}
.introduction__picture {
  display: flex;
  justify-content: flex-end;
}
.name__wrapper {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 230px;
  margin-left: 150px;
}

.title__wrapper {
  display: flex;
  position: absolute;
  justify-content: center;
  margin-left: 150px;
  top: 400px;
}
.name__text {
  font-family: "Playfair-Display", sans-serif;
  font-size: 100px;
  font-style: italic;
  font-weight: 900;
  z-index: 0;
  color: black;
}

.title__text {
  font-family: "Playfair-Display", sans-serif;
  font-size: 50px;
  font-style: italic;
  color: black;
  overflow: hidden; /* Ensures the text doesn't overflow */

  white-space: nowrap; /* Prevents the text from wrapping */
  animation: typing 3s steps(40, end);
}
.title__text::after {
  content: ""; /* Create a pseudo-element to represent the cursor */
  display: inline-block;

  height: 1em;

  animation: typing 3s steps(40, end); /* Adjust the duration as needed */
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.things > .content {
  float: left;
  width: 20%;
  height: 500px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.things > .content h1 {
  /* font-family: "Arial", sans-serif;
  text-transform: uppercase; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150px;
  /* color: #89323b; */
}

/* Arrow */

.arrow {
  position: relative;
  margin-left: 200px;
  width: 100px;
}

.arrow .curve {
  border: 6px solid black;
  border-color: transparent transparent transparent black;
  height: 360px;
  width: 1200px;
  border-radius: 230px 0 0 150px;
}

.arrow .point {
  position: absolute;
  left: 35px;
  top: 315px;
}

.arrow .point:before,
.arrow .point:after {
  border: 5px solid black;
  height: 25px;
  content: "";
  position: absolute;
}

.arrow .point:before {
  top: -11px;
  left: -11px;
  transform: rotate(-74deg);
  -webkit-transform: rotate(-74deg);
  -moz-transform: rotate(-74deg);
  -ms-transform: rotate(-74deg);
}

.arrow .point:after {
  top: -20px;
  left: 5px;
  transform: rotate(12deg);
  -webkit-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
}
